doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Capoeira Workshop in Trier 2015 
    link(href='css/workshop.css', rel='stylesheet')
    script(type='text/javascript',src='http://maps.googleapis.com/maps/api/js?key=AIzaSyDhsRUuUV9tbiOuTdrqiasqwhgRCj4JLxU&sensor=false')
    script
      :coffee
        google.maps.event.addDomListener window, 'load', ->
          pos = new google.maps.LatLng(49.7424362,6.6941286)
          map = new google.maps.Map document.getElementById('location-map'),
            zoom: 17
            center: pos
            scrollwheel: false
          marker = new google.maps.Marker
            position: pos
            map: map
            title: 'test'
          infoWindow = new google.maps.InfoWindow
            content: '<h4>Sportverein FSV Trier-Tarforst e.V.</h4>
                      <address>
                        Kohlenstraße 57<br />
                        54296 Trier<br />
                        Deutschland<br />
                        <br />
                        <a href="http://www.fsv-trier-tarforst.de/">fsv-trier-tarforst.de</a>
                      </address>'
          infoWindow.open(map,marker)
          google.maps.event.addListener marker, 'click', ->
            infoWindow.open(map,marker)
  body
    #header.row: .medium-6.medium-offset-3.columns
      img(src='img/workshop-header.png')

    div(data-magellan-expedition='fixed')
      .contain-to-grid
        nav.top-bar(data-topbar, role='navigation')
          ul.title-area
            li.name: h1: a(href='index.html') Capoeira-Trier 
            li.toggle-topbar.menu-icon: a(href='#'): span Menu
          section.top-bar-section
            ul.right
              li(data-magellan-arrival='background-information'): a(href='#background-information') Hintergrund
              li(data-magellan-arrival='instructor'): a(href='#instructor') Referent
              li(data-magellan-arrival='capoeira-information'): a(href='#capoeira-information') Capoeira 
              li(data-magellan-arrival='location'): a(href='#location') Ort &amp; Anfahrt
              li(data-magellan-arrival='schedule'): a(href='#schedule') Programm
              li(data-magellan-arrival='faq'): a(href='#faq') Fragen
              li(data-magellan-arrival='contact'): a(href='#contact') Anmeldung &amp; Kontakt
    
    .row
      .large-12.columns
        h3 Aktuelles
      .large-12.columns: .panel.callout
        p Leider hatte Juan Probleme mit dem Visum und konnte seinen Flug deshalb nach Deutschland nicht antreten. :-(
        p Dieser unglückliche Umstand hat uns jedoch das große Glück beschert, dass #[strong Mestre Chiquinho] aus Budapest (Ungarn) und 
          | #[strong Contramestre Kapacete] aus Graz (Österreich) sich spontan dazu bereit erklärt haben, den Unterricht an beiden Tagen zu übernehmen. \o/

    .row
      .large-12.columns: h3 Mestre Chiquinho
      .large-12.columns: .panel
        .flex-video: iframe(width='420', height='315', src='https://www.youtube.com/embed/Vc6bZl8P-do', frameborder='0', allowfullscreen)

    .row#background-information(data-magellan-destination='background-information', data-equalizer)
      .large-12.columns
        h3 Hintergrund zum Workshop
      .large-4.columns
        img.th(src='img/workshop-sankt-petersburg.jpg')
        .panel(data-equalizer-watch)
          h4 Reise nach Sankt Petersburg
          p Während einer Reise im Frühling 2015 nach Sankt Petersburg lernte Denis Kruschinski, Übungsleiter für Capoeira bei UniSport-Trier, 
            | bei einem Seminar von Mestre Chiquinho die beiden Leiter von Senzala-Capoeira Sankt Petersburg Juan Duarte und Maria 
            | Emelianenkova kennen. Ihr Capoeirastil, das Training mit Mestre Chiquinho, das Spiel mit Juan und seinen Schülern,
            | der gegenseitige Umgang miteinander sowie die Art und Weise wie Neulinge in dieser Gruppe aufgenommen und integriert werden 
            | haben Denis stark beeindruckt. Wenn man noch fremd in einer Stadt ist, kann es manchmal schwer sein Anschluss zu finden. 
            | Doch nach dem Seminar kamen Einladungen zum gemeinsamen Capoeira- und Akrobatiktraining sowie zu Tanzabenden, welche bis fünf 
            | Uhr morgens andauerten. Juan und Maria stellten viele Fragen zu Trier und unserer Capoeiragruppe. Obwohl sie bereits viel in 
            | Europa und Südamerika gereist sind, haben sie Deutschland noch nie gesehen. Denis beschloss die beiden nach Trier einzuladen.
      .large-4.columns
        img.th(src='img/workshop-juan.jpg')
        .panel(data-equalizer-watch)
          h4 Juan Duarte
          p Juan Duarte ist in Bogotá, der Hauptstadt Kolumbiens, geboren und feierte vor wenigen Tagen im September 2015 sein 15 Jähriges bestehen in der Capoeirawelt. 
            | Vor knapp einem Jahrzehnt war er bereits einer der Verantwortlichen für die Koordination und Organisation der Guppe Senzala-Capoeira in Kolumbien. 
            | Die weltweit gut vernetzte Capoeiracommunity ermöglichte Juan viel zu Reisen und einen intensiven Austausch mit anderen Capoeiragruppen zu pflegen.
            | Durch diese Gegebenheiten konnte Juan über die Zeit ein großes Wissen über die komplexe Capoeirawelt aufbauen. Er kehrte nach mehreren Jahren des Praktizierens
            | bei anderen Capoeiragruppen schließlich zu Senzala-Capoeira zurück. Heute leitet er mit Maria seine eigene Capoeiraschule in Sankt Petersburg, wo er sowohl Erwachsene 
            | als auch Kinder unterrichtet. Zusätzlich veranstaltet Juan als professioneller Tanzlehrer in Sankt Petersburg regelmäßig Workshops für Salsa, Bachata und Kizomba.
      .large-4.columns
        img.th(src='img/workshop-senzala-sankt-petersburg.jpg')
        .panel(data-equalizer-watch)
          h4 Senzala-Capoeira Sankt Petersburg
          p Die Senzala-Niederlassung in Sankt Petersburg ist noch eine recht junge Capoeiragruppe. Sie wurde vor über zwei Jahren von Juan Duarte und 
            | Maria Emelianenkova gegründet und unterliegt der künstlerischen Leitung von Mestre Chiquinho aus Budapest in Ungarn. 
            | Die Capoeiraschule in Sankt Petersburg ist ein Teil der weltweiten Organisation Senzala-Capoeira. Das heißt, dass sie die Tradition
            | der Gruppe Senzala-Capoeira fortführt. Senzala wurde 1963 in einer Nachbarschaft in Rio de Janeiro von eine Gruppe junger Capoeiristas gegründet. Diese 
            | Gruppe entwickelte in ihrer Anfangszeit einen unverwechselbaren Stil, welcher später die Grundform für die #[em Capoeira Contemporanea] bildete, ein 
            | Capoeirastil, welcher schnell zu großer Popularität kam und heute eine der Hauptsäulen der Capoeira ist. Ein wesentlicher Grund für das
            | lange Bestehen der Senzala-Gruppe ist nicht zuletzt der respektvolle Umgang miteinander. Jeder Senzala-Lehrer verpflichtet sich alle sechs 
            | Monate an einem zweiwöchigen Lehrgang teilzunehmen, um die hohen Qualitätsstandards der Organisation erhalten zu können.

    .row#instructor(data-magellan-destination='instructor')
      .large-12.columns
        h3 Der Referent: Juan Duarte
      .large-12.columns: .panel
        .flex-video: iframe(width='420', height='315', src='https://www.youtube.com/embed/5In7XsXO_kY', frameborder='0', allowfullscreen)

    .row#capoeira-information(data-magellan-destination='capoeira-information', data-equalizer)
      .large-12.columns
        h3 Informationen zu Capoeira
      .large-4.columns
        img.th(src='img/workshop-training.jpg')
        .panel(data-equalizer-watch)
          h4 Capoeira
          p Afrikanische Sklaven in Brasilien tarnten ihr Kampfsportraining als Tanz. So entstand die Capoeira und 
            | ermöglichte ihnen Selbstverteidigung zu erlernen, um sich zu befreien. Spielerisch werden Bewegungen aus 
            | bekannten Kampfkünsten mit akrobatischen Elementen kombiniert oder mit Tanzelementen verschleiert, sodass 
            | eine explosive Mischung entsteht. Die Teilnehmer erleben ein anspruchsvolles Ganzkörpertraining 
            | bei dem sie Rhythmik, Koordination und Reaktionsvermögen perfektionieren.
      .large-4.columns
        img.th(src='img/workshop-musik.jpg')
        .panel(data-equalizer-watch)
          h4 Musik
          p Musik spielt in der Capoeira die Hauptrolle. Das wichtigste Instrument ist die Berimbau. Sie leitet das Spiel in 
            | der Roda (vergleichbar mit Sparring) und bestimmt auch den Kontext des Spiels. Manchmal kann ein Spiel freundlich
            | sein, das heißt frei von geraden Tritten, welche für Anfänger schwer vorauszusehen sind, aber auch taktisch und hinterlistig, was
            | grade für Anfänger sehr gefährlich sein kann, weil aus einem langsamen Spiel plötzlich ein schneller Tritt möglich wäre.
            | Weitere bekannte Instrumente sind zum Beispiel die Atabaque und das Pandeiro. Die Lieder werden auf Portugiesisch gesungen
            | und stammen unter anderem aus der Sklavenzeit.
      .large-4.columns
        img.th(src='img/workshop-roda.jpg')
        .panel(data-equalizer-watch)
          h4 Das Spiel in der Roda
          p Bei der #[em Roda] (portugiesisch für Kreis) stehen die Teilnehmer in einem Kreis. In diesem Kreis findet 
            | das Capoeiraspiel statt, eine Art Frage-und-Antwort-Spiel, ein körperlicher Dialog. Dabei kann eine Bewegung als Frage
            | verstanden werden und die Antwort vom Partner kommt ebenfalls in Form einer Bewegung. 
            | "Ob dabei eher die Kooperation oder die Konfrontation im Vordergrund steht, entscheiden die Spieler selbst" [Wikipedia:Capoeira].
            | Das Spiel kann jederzeit einfach so beendet werden.

    .row#location(data-magellan-destination='location')
      .large-12.columns
        h3 Ort und Anfahrt 
      .large-12.columns: .panel
        #location-map


    .row#schedule(data-magellan-destination='schedule')
      .large-12.columns
        h3 Programm
      .large-6.columns
        h4 Samstag, 17. Oktober (Tag 1)
        table
          thead: tr
            th Uhrzeit 
            th Programm
            th Ort
          tbody
            tr
              td 
                del: strong 14:00-17:00 #[br]
                strong 15:00-18:00
              td: strong Training mit Contra-Mestre Kapacete
              td: strong FSV Trier-Tarforst 
            tr
              td 19:00-21:00
              td Gemeinsames Abendessen (optional)
              td Spontane Entscheidung
            tr
              td ab 22:00
              td Open-End-Party mit Caipirinha und Musik (optional)
              td Salvianstraße (privat)

      .large-6.columns
        h4 Sonntag, 18. Oktober (Tag 2)
        table
          thead: tr
            th Uhrzeit
            th Programm
            th Ort
          tbody
            tr
              td: del 10:00-12:00
              td: del Gemeinsames Frühstück mit Portugiesisch Crash-Kurs (optional)
              td: del Salvianstraße (privat)
            tr
              td
                del: strong 13:00-16:00 #[br]
                strong 14:00-17:00
              td: strong Training mit Mestre Chiquinho
              td: strong FSV Trier-Tarforst
            tr
              td 17:00-19:00
              td Gemeinsames Abendessen (optional)
              td Spontane Entscheidung
      
    .row#faq(data-magellan-destination='faq')
      .large-12.columns
        h3 Fragen und Antworten
      .large-12.columns: .panel
        h5 1. Welche Ausrüstung ist zum Workshop mitzubringen?
        p T-Shirt, Sporthose und ein paar Hallenschuhe. Üblicherweise wird ohne Schuhe und Socken trainiert. 
          | Die Schuhe wirst Du wahrscheinlich trotzdem brauchen. ;-)
        
        h5 2. Werden besondere sportliche Fähigkeiten vorausgesetzt?
        p Nein, jeder kann teilnehmen. Nur Mut. :-)
        
        h5 3. Muss ich einen Handstand können?
        p Nein. Die akrobatischen Elemente werden oft bei Capoeiravorführungen gezeigt sind aber tatsächlich kein wichtiger Bestandteil der Capoeira.
          | Aber natürlich könntest Du mithilfe der Capoeira schnell den Handstand erlernen.

        h5 4. In welcher Sprache findet der Unterricht statt.
        p Unterricht wird in der deutschen Sprache durchgeführt. Englisch, Spanisch, Portugiesisch und Russisch werden bei Bedarf auch angeboten. 

        h5 5. Ich möchte nur beim Capoeiraunterricht teilnehmen aber nicht beim Frühstück/Party/Essen. Ist das möglich?
        p Ja klar.

        h5 6. Was kostet der Workshop?
        p Siehe #[a(href='#contact') Kontakt und Anmeldung].
        
        h5 7. Darf ich an nur einem Tag teilnehmen?
        p Ja gerne. Dann gilt: halber Preis.

        h5 8. Ich weiß nicht ob Capoeira mir gefällt.
        p Dann nimm doch zum Reinschnuppern zunächst mal nur an einem Tag teil.

        h5 9. Was kommt nach dem Workshop? Wo kann ich Capoeira praktizieren?
        p Im Uni-Sport Trier. Auch wenn Du kein(e) Student(in) bist. 

        h5 10. Gibt es eine Facebook-Event-Gruppe?
        p Ja, hier die&nbsp;
         a(href='https://www.facebook.com/events/1466118650362185/') Facebook-Event-Gruppe 
         | mit den aktuellsten Informationen.

        h5 11. Was kostet ein Caipirinha auf der Party?
        p Null Euro. \o/ ;-)
        
        h5 12. Ich trinke kein Caipirinha. Bekomme ich einen reduzierten Eintrittspreis für den Workshop?
        p Nein, die Caipirinhas sind ein Geschenk der Capoeiragruppe-Trier und werden nicht vom Teilnahmebeitrag gedeckt.
          | Die Partylocation wird von der netten Salvianstraße-Community ebenfalls kostenfrei für unsere &bdquo;Halbzeitfeier&ldquo; bereitgestellt. 

        h5 13. Ich komme nicht von Trier. Gibt es Schlafgelegenheiten?
        p Ja die gibt es. Bitte vorher Bescheid geben. 

        h5 14. Wer darf teilnehmen?
        p Aus organisatorischen Gründen ist ein Mindestalter von 16 Jahren vorgegeben. Ansonsten gilt: Capoeira ist für  
          | Frauen und Männer. Nur der, der es nicht möchte, lernt es nicht.
        p Übrigens: In Berlin gibt es eine Gruppe aus 17 Rentnern, 60 bis 80 Jahre alt, welche Capoeira praktizieren 
          | und dabei jeden Tritt genießen! 

        h5 15. Ist das gemeinsame Essen im Preis inbegriffen?
        p Nein, wir suchen uns ein Restaurant/Imbiss/Kneipe und jeder bezahlt für sich.

        h5: del 16. Wie läuft das gemeinsame Frühstück ab? Soll ich was mitbringen?
        p: del Ja. Jeder Teilnehmer bringt eine Kleinigkeit für sich und die anderen Teilnehmer mit. So können wir alle satt, zufrieden 
          | und mit genügend Energie in die zweite Hälfte des Workshops starten. 

    .row#contact(data-magellan-destination='contact', data-equalizer)
      .large-12.columns
        h3 Anmeldung und Kontakt
        .row
          .large-7.columns: .panel(data-equalizer-watch)
            h4 Anmeldung
            p Anmelden kann man sich per E-Mail, Telefon, SMS oder WhatsApp (siehe Kontakt).
              | Wir benötigen dazu folgende Informationen.
            ul
              li Vor- und Nachname
              li Alter
              li Samstag, Sonntag oder beide Tage?
              li Mobiltelefonnummer
            p Die Anmeldung gilt als abgeschlossen sobald der Teilnahmebeitrag bezahlt wurde. Damit ist eure Teilnahme garantiert.
            h5 Kosten
            p Ein Tag kostet 24 Euro. Wenn du an beiden Tagen teilnimmst, bezahlst du also 48 Euro. :-) 
            h5 Ermäßigung
            p Grundsätzlich werden keine Ermäßigungen angeboten. Aber Uni- bzw. Hochschulstudenten können eine (Teil-)Rückerstattung
              | mit der von uns ausgestellten Quittung beantragen. Die Quittung wird am jeweiligen Veranstaltungstag ausgestellt.
              | Der Rückerstattungsantrag muss an den #[a(href='https://www.uni-trier.de/index.php?id=13513') AK-Sport] bzw. 
              | den #[a(href='https://www.hochschule-trier.de/index.php?id=2729') AStA der Hochschule-Trier] gestellt werden.
            h5 Zahlart
            p Da die Teilnehmerzahl beschränkt ist, gilt die Banküberweisung als sicherster Weg sich seine Teilnahme zu sichern. 
              | Kontodaten senden wir zu sobald wir deine Anmeldung erhalten.
            p Bei einer Zahlung am Veranstaltungstag muss der Teilnhamebeitag mit Bargeld beglichen werden. 
              | Das geht aber nur, wenn die maximale Teilnehmerzahl nicht überschritten wurde. (Am besten vorher telefonisch anfragen)
            h5 Rücktritt
            p Ein Rücktritt ist an keine Bedingungen gebunden. Du erhälst dabei den vollen Betrag zurückerstattet. 
            p Wir bitten dich jedoch, dass du uns das Rechtzeitig mitteilst, sodass wir deine Reservierung für andere Interessenten freigeben können.
          .large-5.columns: .panel(data-equalizer-watch)
            h4 Kontakt
            p Fragen bitte per E-Mail an:
            p: strong tudobem (at) capoeira-trier.de
            p oder SMS bzw. WhatsApp-Nachricht an:
            p: strong +49 178 5222 954

    footer.row
      .large-12.columns
        hr
        p.text-right &copy; 2015 | Denis Kruschinski | Salvianstraße 5 | 54290 Trier | +491785222954
  script(src='js/jquery.min.js', type='text/javascript')
  script(src='js/foundation.min.js', type='text/javascript')
  script
    $(document).foundation();